
<div id="dialog-confirm" style="display:none;">
    <p class="row-fluid">
        <span class="span1"><i class="icon-warning-sign"></i></span>
        <span id="dialog-confirm-text" class="span11"></span>
    </p>
</div>


<div id="dialog-error" style="display:none;">
    <p class="row-fluid">
        <span class="span1"><i class="icon-exclamation-sign"></i></span>
        <span id="dialog-error-text" class="span11"></span>
    </p>
</div>