@model OrderViewModel

@{
    ViewData["Title"] = string.Format(Labels["EditOrder_Title"].Value, Model.OrderForm.OrderNumber);
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Save" asp-controller="Orders" method="post" id="OrderForm">
    @Html.Partial("_OrderForm", Model)
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        //init controller in view mode
        $(function () {
            var ctrl = new OrderFormController(OrderFormController.OrderFormControllerModes.EDIT);
            ctrl.init();
        });
    </script>
}
